@if not global-variable-exists('bruce-fonts') {
    $bruce-fonts: () !global;
};
@if not global-variable-exists('bruce-colors') {
    $bruce-colors: () !global;
};
@if not global-variable-exists('bruce-breakpoints') {
    $bruce-breakpoints: () !global;
};

@mixin DcmeConfig() {

    //
    // Colors

    $colors: (
        'white': #efefef,
        'black': #0e151b,

        'bodyBackground': #0e151b,
        'contentBackground': #efefef,
        'copy': #efefef,

        'primary': #EC1C23,
        'secondary': grey(94),
        'available': #4A90E2,
        'later': #F5A623,
        'focus': #007777,
        'positive': #38C169,
        'negative': #e85656,
        'warning': #F5A623
    );

    $bruce-colors: map-merge($bruce-colors, $colors) !global;

    //
    // Fonts
    //

    // font-family: 'Roboto Mono', monospace;
    // font-family: 'Anonymous Pro', monospace;
    // font-family: 'Lato', sans-serif;
    // font-family: 'Ubuntu Mono', monospace;

    $fonts: (
        'heading': ('Roboto Mono', monospace),
        'copy': ('Roboto Mono', sans-serif),
        'monospace': ('Roboto Mono', monospace),
    );

    $bruce-fonts: map-merge($bruce-fonts, $fonts) !global;


    //
    // Breakpoints

    $breakpoints: (
        'large':  60rem,
        'medium': 50rem,
        'small':  40rem,
        'tiny':   30rem
    );

    $bruce-breakpoints: map-merge($bruce-breakpoints, $breakpoints) !global;
}
